body {
    text-align: center;
    background-image: url(../images/dAnPk.jpg);
    background-size: cover;
    color: #eeeeee;
}

#title {
    color: #eeeeee;
    text-align: right;
}

img {
    height: 100px;
    width: 100px;
}

p {
    color: #000000;
}

.heroes {
    border: 3px solid #09ff00;
    background: #eeeeee;
    /* display: block; */
}

.selectEnemy {
    border: 3px solid #ff0000;
    background: #eeeeee;
    /* display:none; */
}

.fightEnemy {
    border: 3px solid #000000;
    background: #eeeeee;
    /* display: none; */
}

button {
    margin:20px;
    /* display: none; */
}